<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
	<appender name="Normal" class="ch.qos.logback.core.FileAppender">
		<file> /home/cristian/Escritorio/webteckCliente.log </file>
		<append>true</append>
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="ERRORFILE" class="ch.qos.logback.core.FileAppender">
      <file> /home/cristian/Escritorio/webteckClienteErrors.log </file>
      <append>true</append>
      <encoder>
         <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
      </encoder>
   </appender>
   
   <logger name="Error" level="ERROR" additivity="false">
    <appender-ref ref="ERRORFILE" />
  </logger>

	<root level="debug">
		<appender-ref ref="Normal" />
	</root>
</configuration>