@charset "UTF-8";

.cajaDatosUsuario {
	margin-top: -2%;
}

#EditarDireccion {
	display: flex;
	position: relative;
	margin-top: 14%;
	margin-left: 39%;
}

#TituloDire {
	border: 3px solid;
	border-radius: 5px;
}

#DatosDirrecion {
	position: relative;
	display: flex;
}
#cajaDatosUSU {
	border-radius: 3px;
	border: 3px solid;
}

#cajaSinDirecc {
	border-radius: 3px;
	border: 3px solid;
}

#OpcionesDireccion{
	position: relative;
	display: flex;
	margin-top: -18%;
}

#FichaProducto:hover {
	color: rgba(255, 255, 255, 1) !important;
	box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
	transition: all 0.2s ease;
	text-decoration: none;
	cursor: pointer
}