#Formulario {
	border-radius: 1%;
	background-color: threedlightshadow;
}

#TextLogin {
	margin-left: 41%;
	margin-top: 12%;
}

#botonLogin {
	margin-left: 43%;
	margin-bottom: 4%;
	height: 40px;
	width: 30%;
}

#CancelarLog {
	margin-left: 43%;
	margin-bottom: 4%;
	height: 40px;
	width: 30%;
}

#botonLogin:hover {
	color: rgba(0, 0, 255, 0.3) !important;
	box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
	transition: all 0.2s ease;
	color: black;
}

input {
	border-radius: 3%;
}

#contaLoginBotonesError {
	position: relative;
	display: flex;
	margin-left: 20%;
	margin-right: auto;
}

#botonErrorLogin {
	display: flex;
	background: cornflowerblue;
	border-radius: 5px;
	margin-bottom: 3%;
	align-content: center;
	height: 57px;
	width: 22%;
	text-align: center;
	font-size: larger;
	border: none;
	color: white;
	margin-inline-start: auto;
	text-align: center;
	box-shadow: 0 9px #999;
}

#botonErrorLogin:hover {
	background-color: #379eed
}

#botonErrorLogin:active {
	background-color: #379eed;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}