/* Make the image fully responsive */
.carousel-inner img {
	width: 100%;
	height: 10%;
}

#carousel1 {
	height: 10%;
	width: 100%;
}

body {
	background-color: rgb(187, 187, 187);
}

/* #prodImagen { */
/* 	display: flex; */
/* 	position: relative; */
/* 	height: 16px; */
/* 	height: 27%; */
/* 	margin-left: 36%; */
/* 	cursor: pointer; */
/* } */

#contanierValores {
	background-color: lightcyan;
	margin-top: -2%;
	display: flow-root;
	position: relative;
	margin-bottom: 1%;
	border: 3px solid lightcyan;
	border-radius: 6px;
	color: black;
}

.product-item {
	height: 70%;
	width: 24%;
	border: 3px solid orange;
	padding: 3%;
	margin-inline-start: auto;
	margin-right: auto;
	margin-bottom: 2%;
	border-radius: 3%;
	position: relative;
	margin-left: 0.7%;
	background-color: white;
}

.bestSellerProd {
	height: 10%;
	width: 80%;
	margin-top: 2%;
	position: relative;
	display: flow-root;
	text-align: center;
	background-color: orange;
	margin-top: 19%;
	height: 13%;
	width: 84%;
	text-align: center;
	border: 2px solid cornflowerblue;
	border-radius: 4%;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	text-decoration: none;
	height: 13%;
}

#Pregunta {
	position: static;
	display: block;
	z-index: 1;
	width: 4%;
	height: 52px;
	display: scroll;
	position: fixed;
	bottom: 20%;
	right: 0%;
	margin-right: 3%;
	font-size: 30px;
	text-align: center;
}

#Pregunta:hover {
	cursor: pointer;
	color: rgba(255, 255, 255, 1) !important;
	box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
	transition: all 0.2s ease;
	text-decoration: none;
}

.benefit {
	background-color: wheat;
}

.botonCarrito {
	background-color: orangered;
	height: 25%;
	width: 42%;
	text-align: center;
	margin: auto;
	margin-top: 6%;
	border-radius: 6%;
	text-decoration: none;
	display: block;
}

#Datos {
	margin-left: 11%;
	height: 74px;
	width: 116%;
}

#CarritoTienda {
	background-color: orange;
	margin-top: 3%;
	height: 84%;
	width: 84%;
	text-align: center;
	border: 2px solid cornflowerblue;
	border-radius: 4%;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	text-decoration: none;
}

#BusquedaTitulo {
	margin-top: 30%;
}

#CarritoTienda:hover {
	color: rgba(255, 255, 255, 1) !important;
	box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
	transition: all 0.2s ease;
	text-decoration: none;
	cursor: pointer
}

.bestSellerProd:hover {
	color: rgba(255, 255, 255, 1) !important;
	box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
	transition: all 0.2s ease;
	text-decoration: none;
	cursor: pointer
}

#BusquedaFiltro {
	display: inline-grid;
	position: relative;
	background-color: cadetblue;
	border-radius: 3px;
	margin-left: 4%;
	margin-top: 0.4%;
}

#MejorValorados {
	background-color: white;
	position: relative;
	display: flex;
	margin-left: 8%;
	border-radius: 6px;
	margin-top: 1%;
	margin-bottom: 1%;
}

#navPrinc {
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
	}

#FichaProducto {
	background-color: orange;
	margin-top: 3%;
	height: 84%;
	width: 84%;
	text-align: center;
	border: 2px solid cornflowerblue;
	border-radius: 4%;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	text-decoration: none;
}

#FichaProducto:hover {
	color: rgba(255, 255, 255, 1) !important;
	box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
	transition: all 0.2s ease;
	text-decoration: none;
	cursor: pointer
}

#Menuopciones {
	margin-left: 7%;
	margin-top: -36%;
}

.botonCarrito :hover {
	color: rgba(255, 255, 255, 1) !important;
	box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
	transition: all 0.2s ease;
	text-decoration: none;
	cursor: pointer
}

#BotonBusqueda {
	cursor: pointer;
}

#BotonForm {
	margin-left: 52%;
	width: 167%;
	height: 98%;
	border-radius: 4%;
	cursor: pointer;
}

.product_slider_nav {
	position: absolute;
	width: 30px;
	height: 70px;
	background: #d3d3d6;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 2;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.product_slider_container:hover .product_slider_nav {
	visibility: visible;
	opacity: 1;
}

.product_slider_nav i {
	color: #FFFFFF;
	font-size: 12px;
}

.product_slider_nav_left {
	top: 50%;
	left: 0;
}

.product_slider_nav_right {
	top: 50%;
	right: 0;
}

/*********************************
7. Best Sellers
*********************************/
.product_slider_container {
	width: 100%;
	height: 340px;
	margin-top: 73px;
}

.product_slider_container::after {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 1px;
	height: 100%;
	background: #FFFFFF;
	content: '';
	z-index: 1;
}

.product_slider {
	overflow: visible !important;
}

.product_slider_item .product-item {
	height: 340px;
}

.product_slider_item {
	width: 20%;
	display: contents;
}

.product_slider_item .product-item {
	width: 100% !important;
}


/* The Modal (background) */
.modal56 {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal56-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

/* Caption of Modal Image */
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation */
.modal56-content, #caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

@
-webkit-keyframes zoom {
	from {-webkit-transform: scale(0)
}

to {
	-webkit-transform: scale(1)
}

}
@
keyframes zoom {
	from {transform: scale(0)
}

to {
	transform: scale(1)
}

/* The Close Button */
.close13 {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 70px;
	font-weight: bold;
	transition: 0.3s;
	float: right;
}

#imgant {
	border-radius: px;
	cursor: pointer;
	transition: 0.3s;
}

.close13:hover, .close13:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
	.modal56-content {
		width: 50%;
	}
}

