#Formulario {
	border-radius: 1%;
	background-color: threedlightshadow;
}

#TextLogin {
	margin-left: 41%;
	margin-top: 12%;
}

#botonLogin {
	margin-left: 43%;
	margin-bottom: 4%;
	height: 40px;
	width: 30%;
}

#CancelarLog {
	margin-left: 43%;
	margin-bottom: 4%;
	height: 40px;
	width: 30%;
}

#botonLogin:hover {
	color: rgba(0, 0, 255, 0.3) !important;
	box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
	transition: all 0.2s ease;
	color: black;
}

input {
	border-radius: 3%;
}