<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE configuration PUBLIC '-//mybatis.org//DTD Config 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-config.dtd'>
<configuration>
	<properties resource='jdbc.properties'></properties>
	<typeAliases>
		<typeAlias type='modelo.Pojo.UsuarioPojo'
			alias='UsuarioPojo'></typeAlias>
		<typeAlias type='modelo.Pojo.CategoriaPojo'
			alias='CategoriaPojo'></typeAlias>
		<typeAlias type='modelo.Pojo.MarcaPojo' alias='MarcaPojo'></typeAlias>
		<typeAlias type='modelo.Pojo.ProductoPojo'
			alias='ProductoPojo'></typeAlias>
		<typeAlias type='modelo.Pojo.RegistroPojo'
			alias='RegistroPojo'></typeAlias>
		<typeAlias type='modelo.Pojo.VentasPojo' alias='VentasPojo'></typeAlias>
		<typeAlias type='modelo.Pojo.BusquedaPojo'
			alias='BusquedaPojo'></typeAlias>
		<typeAlias type='modelo.Pojo.ProductoTiendaPojo'
			alias='ProductoTienda'></typeAlias>
		<typeAlias type='modelo.Pojo.ValorcionPojo'
			alias='ValorcionPojo'></typeAlias>
		<typeAlias type='modelo.Pojo.PreguntaPojo'
			alias='PreguntaPojo'></typeAlias>
		<typeAlias type='modelo.Pojo.DireccionPojo'
			alias='DireccionPojo'></typeAlias>
	</typeAliases>
	<environments default='development'>
		<environment id='development'>
			<transactionManager type='JDBC' />
			<dataSource type='POOLED'>
				<property name='driver' value='${jdbc.driverClassName}' />
				<property name='url' value='${jdbc.url}' />
				<property name='username' value='${jdbc.username}' />
				<property name='password' value='${jdbc.password}' />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource='modelo/dao/mappers/CodigoMapper.xml' />
		<mapper resource='modelo/dao/mappers/ProductoMapper.xml' />
		<mapper resource='modelo/dao/mappers/UsuarioMapper.xml' />
		<mapper resource='modelo/dao/mappers/VentasMapper.xml' />
		<mapper resource='modelo/dao/mappers/ValoracionMapper.xml' />
		<mapper resource='modelo/dao/mappers/PreguntaMapper.xml' />
		<mapper resource='modelo/dao/mappers/DireccionMapper.xml' />
	</mappers>
</configuration>