<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='modelo.dao.mappers.ProductoMapper'>

	<resultMap type="ProductoPojo" id="datosProducto">
		<id property='id' column='id' />
		<result property='titulo' column='titulo' />
		<result property='anyo' column='anyo' />
		<result property='precio' column='precio' />
		<result property='descripcion' column='descripcion' />
		<result property='foto' column='foto' />
		<result property='idGenero' column='idGenero' />
		<result property='idPlataforma' column='idPlataforma' />
	</resultMap>


	<!-- <resultMap type="ProductoPojo" id="datosProducto"> -->
	<!-- <result property='titulo' column='titulo' /> -->
	<!-- <result property='anyo' column='anyo' /> -->
	<!-- <result property='precio' column='precio' /> -->
	<!-- <result property='descripcion' column='descripcion' /> -->
	<!-- <result property='genero' column='genero' /> -->
	<!-- <result property='plataforma' column='plataforma' /> -->
	<!-- </resultMap> -->

	<select id="leerProductosporNombre" resultMap="datosProducto">

		<!-- select -->
		<!-- productos.titulo as titulo,productos.anyo as anyo, productos.precio 
			as precio ,productos.descripcion as descripcion, -->
		<!-- generos.nombre as genero , plataformas.nombre as plataforma -->
		<!-- from -->
		<!-- productos , plataformas,generos -->
		<!-- where -->
		<!-- productos.idPlataforma = plataformas.id and productos.idGenero = generos.id 
			and -->
		<!-- productos.titulo like #{nombre}; -->


		select
		productos.titulo,productos.anyo,productos.precio,productos.descripcion,productos.foto,
		productos.idGenero,productos.idPlataforma,productos.id
		from
		productos
		where
		productos.titulo like '%' || #{nombre}|| '%';

	</select>


	<select id="leerProductos" resultMap="datosProducto">
		select
		productos.titulo,productos.anyo,productos.precio,productos.descripcion,productos.foto,
		productos.idGenero,productos.idPlataforma,productos.id
		from
		productos
		where
		productos.id=#{id}

	</select>



	<select id="leerTotalProductos" resultMap="datosProducto">
		select
		productos.titulo,productos.anyo,productos.precio,productos.descripcion,productos.foto,productos.id
		from
		productos
	</select>


	<select id="leerTotalCategorias" resultType="CategoriaPojo">
		select
		*
		from
		plataformas
	</select>

	<select id="leerTotalMarcas" resultType="MarcaPojo">
		select
		*
		from
		generos
	</select>

	<delete id="eliminarProducto">

		DELETE FROM productos where productos.id = #{id}
	</delete>


	<update id='updateProducto' parameterType='ProductoPojo'>
		UPDATE
		productos
		SET

		titulo = #{titulo},
		precio = #{precio},
		anyo = #{anyo},
		foto =#{foto},
		descripcion = #{descripcion},
		idGenero =#{idGenero},
		idPlataforma =
		#{idPlataforma}
		WHERE productos.id = #{id}
	</update>

	<insert id='insertProducto' parameterType='ProductoPojo'
		useGeneratedKeys='true' keyProperty='id'>
		insert into productos
		(titulo,precio,anyo,foto,descripcion,idGenero,idPlataforma)
		VALUES(#{titulo}, #{precio}, #{anyo},
		#{foto}, #{descripcion},
		#{idGenero},
		#{idPlataforma})
	</insert>


</mapper>