<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='modelo.dao.mappers.UsuarioMapper'>



	<resultMap type="UsuarioPojo" id="datosUsuarios">
		<id property='emailUsuario' column='emailUsuario' />
		<result property='nombre' column='nombre' />
		<result property='foto' column='foto' />
		<result property='usuario' column='usuario' />
	</resultMap>


	<select id="getDatosUsuarioporEmailUsuario"
		resultMap="datosUsuarios">

		select
		usuaris.emailUsuario,usuaris.nombre,usuaris.usuario ,usuaris.foto
		from
		usuaris
		where
		usuaris.emailUsuario = #{emailUsuario};
	</select>

	<select id='leerDatos' resultType='modelo.Pojo.UsuarioPojo'>
		SELECT
		*
		FROM
		usuaris
		WHERE
		usuario = #{usuario} AND password= #{password}

	</select>


	<select id='leerDatosEmpleado'
		resultType='modelo.Pojo.UsuarioPojo'>
		SELECT
		*
		FROM
		empleados
		WHERE
		usuario = #{usuario} AND password=
		#{password}

	</select>


	<select id='getFoto' resultType='modelo.Pojo.UsuarioPojo'>
		SELECT
		foto
		FROM
		usuaris
		where
		usuario #{usuario}

	</select>

	<insert id='AñadirUsuarios'>
		INSERT INTO usuaris
		(emailUsuario,nombre,usuario,password,foto,activado)
		VALUES(#{emailUsuario},#{nombre},
		#{usuario}, #{password}, #{foto},
		#{activado})
	</insert>

	<insert id='AñadirEmpleado'>
		INSERT INTO empleados
		(emailUsuario,nombre,usuario,password,foto)
		VALUES(#{emailUsuario},#{nombre},
		#{usuario}, #{password}, #{foto})
	</insert>

	<update id='activarUsuario'>
		UPDATE usuaris
		SET
		activado ='s'
		WHERE emailUsuario =
		(SELECT
		emailUsuario FROM claveregistro WHERE codigo =
		#{codigo})
	</update>



	<update id="pantallaUsuario">
		UPDATE usuaris
		SET
		pantalla = #{pantalla}
		WHERE usuario
		=#{usuario}

	</update>

	<delete id='eliminarUsuario'>
		DELETE FROM usuaris WHERE emailUsuario =
		#{emailUsuario}
	</delete>

	<delete id='eliminarEmpleado'>
		DELETE FROM empleados WHERE emailUsuario =
		#{emailUsuario}
	</delete>

	<delete id="eliminarClave">
		DELETE FROM claveregistro WHERE emailUsuario
		=#{emailUsuario}
	</delete>


	<update id='updateContraseña' parameterType='UsuarioPojo'>
		UPDATE
		usuaris
		SET

		password = #{password}
		WHERE usuaris.emailUsuario = #{emailUsuario}
	</update>
	
	
	
	<update id='updateImagen' parameterType='UsuarioPojo'>
		UPDATE
		usuaris
		SET

		foto = #{foto}
		WHERE usuaris.emailUsuario = #{emailUsuario}
	</update>

</mapper>