<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='modelo.dao.mappers.ValoracionMapper'>


	<insert id='insertValoracion' parameterType='ValorcionPojo'
		useGeneratedKeys='true' keyProperty='id'>
		insert into valoraciones
		(idProducto,emailUsuario,valoraciones)
		VALUES(#{idProducto},
		#{emailUsuario},#{valoraciones})
	</insert>


	<insert id='insertComentario' parameterType='ValorcionPojo'
		useGeneratedKeys='true' keyProperty='id'>
		insert into comentarios
		(idProducto,emailUsuario,comentarios)
		VALUES(#{idProducto},
		#{emailUsuario},#{comentarios})
	</insert>

	<resultMap type="ValorcionPojo" id="tiendaValoraciones">
		<id property='id' column='id' />
		<result property='idProducto' column='idProducto' />
		<result property='emailUsuario' column='usuarios' />
		<result property='foto' column='fotoUsuario' />
		<result property='valoraciones' column='valoracion' />
		<result property='comentarios' column='comentario' />

	</resultMap>

	<select id="leerComentariosTienda" resultMap="tiendaValoraciones">

		select
		comentarios.comentarios as comentario, usuaris.usuario as usuarios,
		usuaris.foto as fotoUsuario,productos.id as idProducto,comentarios.id as id

		from
		productos,comentarios,usuaris
		where
		comentarios.idProducto =productos.id
		and
		comentarios.emailUsuario=usuaris.emailUsuario and
		productos.id=
		#{id}

	</select>


	<select id="leerValoracionesTienda" resultMap="tiendaValoraciones">

		select
		valoraciones.valoraciones as valoracion, usuaris.usuario as
		usuarios, usuaris.foto as fotoUsuario,productos.id as idProducto

		from
		productos,valoraciones,usuaris
		where
		valoraciones.idProducto
		=productos.id and
		valoraciones.emailUsuario=usuaris.emailUsuario and
		productos.id= #{id}

	</select>
</mapper>