<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='modelo.dao.mappers.VentasMapper'>

	<resultMap type="VentasPojo" id="datosVentas">
		<result property='titulo' column='titulo' />
		<result property='precio' column='precio' />
		<result property='fecha' column='fecha' />
		<result property='nombre' column='nombre' />
		<result property='codigoPedido' column='codigoPedido' />
	</resultMap>

	<select id="leerProductosporFecha" resultMap="datosVentas">

		select
		productos.titulo as titulo ,productos.precio as precio ,ventas.fecha as fecha ,usuaris.nombre as nombre
		from
		ventas ,productos,usuaris
		where
		ventas.idProducto= productos.id and ventas.emailUsuario= usuaris.emailUsuario and
		ventas.fecha between #{inicio} and #{fin};

	</select>
	
	
	<select id="leerProductosporEmail" resultMap="datosVentas">

		select
		productos.titulo as titulo ,productos.precio as precio ,ventas.fecha as fecha ,usuaris.nombre as nombre,
		ventas.codigoPedido as codigoPedido
		from
		ventas ,productos,usuaris
		where
		ventas.idProducto= productos.id and ventas.emailUsuario= usuaris.emailUsuario and
		ventas.emailUsuario = #{emailUsuario};

	</select>
	
	<insert id='insertarVenta' parameterType='ProductoPojo'
		useGeneratedKeys='true' keyProperty='id'>
		insert into ventas
		(codigoPedido,fecha,idProducto,emailUsuario)
		VALUES(#{codigoPedido},#{fecha}, #{idProducto},
		#{emailUsuario})
	</insert>
	
</mapper>